// fonts
:root {
  --gold: goldenrod;
  --dark: linear-gradient(to right, rgb(30, 30, 30), rgb(50, 50, 50));
  --secondray: linear-gradient(to right, rgb(248, 196, 63), rgb(218, 165, 32));
  --dark-green: rgb(27, 29, 27);
  --gray: rgb(41, 41, 41);
}

// Genegral styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  direction: ltr;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
}

a,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease;
}

a:hover {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
  opacity: 0.7;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  border: 0;
  background: none;
  border-radius: unset;
}

.card-footer {
  background-color: unset;
}

.bold {
  font-weight: bold;
}

.scrolledDown {
  top: 0% !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 0 10px gray;
  .navbar li a,
  .logo {
    color: #000 !important;
  }
}

// Page Styles
#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  top: 0;
  position: fixed;
  transition: all 0.5s ease;
  z-index: 5;

  .navbar li a,
  .logo {
    color: #fff;
  }

  .navbar ul {
    display: flex;
  }

  .navbar ul li:not(:last-child) {
    margin-right: 1rem;
  }
}

main {
  overflow: hidden;
}

#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/city.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;

  .card_container {
    width: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.75em;
    width: 22em;
    transform-style: preserve-3d;

    .img {
      position: relative;
      margin-bottom: 2em;

      &::after {
        content: "";
        position: absolute;
        background: linear-gradient(to right, lightblue, pink);
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        z-index: -1;
      }

      > img.profile {
        z-index: 3;
        width: 9rem;
        height: 9rem;
        display: block;
        margin: auto;
        transition: all 1s ease;
        border-radius: 50%;
      }
    }

    .title {
      margin-bottom: 1em;
      transition: all 1s ease;
    }

    .desc {
      color: gray;
      transition: all 1s ease;
    }

    .size {
      margin: 2em 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      transition: all 1s ease;

      > * {
        flex: 1 1 33.33%;
        border: 0;
        background-color: #fff;
        box-shadow: 0 0 10px gray;
        border-radius: 50px;
        padding: 0.175em;
        margin: 0.5rem;
      }

      button.active {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
      }
    }

    .buy {
      transition: all 1s ease;
      a {
        display: inline-block;
        text-align: center;
        width: 100%;
        background: linear-gradient(to right, pink, lightblue);
        border: 0;
        color: #fff;
        border-radius: 50px;
        padding: 0.575em;
        cursor: pointer;
      }
    }
  }
}

#about {
  padding: 5rem 0;

  .img-container {
    max-width: 100%;
    height: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .card {
    color: #000;

    .our-btn {
      border-radius: 100px;
      padding: 0.5rem 2rem;
      color: #000;
      background: var(--gold);
      border: 1px solid transparent;
      transition: 0.5s;

      &:hover {
        color: var(--gold);
        border: 1px solid var(--gold);
      }
    }

    .card-subtitle {
      position: relative;
      padding-left: 35px;
      font-weight: lighter;

      &::before {
        content: "";
        position: absolute;
        width: 25px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: var(--secondray);
        height: 3px;
        border-radius: 100px;
      }
    }
  }
}

#about {
  .skills {
    background: #fff;
    padding: 0.75rem;
    margin-top: 1rem;

    .language {
      .stars {
        > i {
          color: var(--gold);
          cursor: pointer;
          margin: 0 1px;
          font-size: 0.9rem;
        }
      }
    }
  }
}

#projects {
  padding: 6rem 0 5rem 0;
  background: var(--dark);

  .title {
    color: #fff;
  }

  .img-container {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 6px;

    .project-img {
      border-radius: 6px;
      box-shadow: 0 0 10px var(--dark-green);
      transition: all 0.5s ease;
      filter: grayscale(0);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .img-container:hover .project-img {
    transform: scale(1.4) rotate(3deg);
    filter: grayscale(1);
  }

  .owl-theme .owl-dots .owl-dot {
    outline: unset;
  }

  .owl-theme .owl-dots .owl-dot span {
    transition: all 0.3s linear;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    width: 35px;
    background-color: var(--gold);
  }
}

#footer {
  background: url(../img/city.jpg) no-repeat bottom fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  padding: 4rem;
  color: #fff;
}

#intro {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  .intro-text {
    .hide {
      font-size: 3.5rem;
      font-family: sans-serif;
      font-weight: lighter;
      overflow: hidden;
      padding: 0.2rem 0;
      .text-of-intro {
        display: inline-block;
        transform: translateY(100%);
      }
    }
  }
}

#slider {
  position: fixed;
  background: rgb(15, 15, 15);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  transform: translateY(100%);
}

.trans {
  transform: translateZ(90px);
}

.trans-0 {
  transform: translateZ(0px);
}
