:root {
  --gold: goldenrod;
  --dark: linear-gradient(to right, rgb(30, 30, 30), rgb(50, 50, 50));
  --secondray: linear-gradient(to right, rgb(248, 196, 63), rgb(218, 165, 32));
  --dark-green: rgb(27, 29, 27);
  --gray: rgb(41, 41, 41);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  direction: ltr;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
}

a,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: inherit;
  opacity: 0.7;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  border: 0;
  background: none;
  border-radius: unset;
}

.card-footer {
  background-color: unset;
}

.bold {
  font-weight: bold;
}

.scrolledDown {
  top: 0% !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
}

.scrolledDown .navbar li a,
.scrolledDown .logo {
  color: #000 !important;
}

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  top: 0;
  position: fixed;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5;
}

#header .navbar li a,
#header .logo {
  color: #fff;
}

#header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .navbar ul li:not(:last-child) {
  margin-right: 1rem;
}

main {
  overflow: hidden;
}

#hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/city.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

#hero .card_container {
  width: 80%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px gray;
          box-shadow: 0 0 20px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.75em;
  width: 22em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#hero .card .img {
  position: relative;
  margin-bottom: 2em;
}

#hero .card .img::after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(lightblue), to(pink));
  background: linear-gradient(to right, lightblue, pink);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 50%;
  z-index: -1;
}

#hero .card .img > img.profile {
  z-index: 3;
  width: 9rem;
  height: 9rem;
  display: block;
  margin: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 50%;
}

#hero .card .title {
  margin-bottom: 1em;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#hero .card .desc {
  color: gray;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#hero .card .size {
  margin-top: 2em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#hero .card .size > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  border-radius: 50px;
  padding: 0.175em;
}

#hero .card .size button.active {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#hero .card .buy {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#hero .card .buy button {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(pink), to(lightblue));
  background: linear-gradient(to right, pink, lightblue);
  border: 0;
  color: #fff;
  border-radius: 50px;
  padding: 0.575em;
  cursor: pointer;
}

#hero .card .buy .hvr-radial-out:before {
  background-color: lightblue;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}

#about {
  padding: 5rem 0;
}

#about .img-container {
  max-width: 100%;
  height: auto;
}

#about .img-container img {
  max-width: 100%;
  height: auto;
}

#about .card {
  color: #000;
}

#about .card .our-btn {
  border-radius: 100px;
  padding: 0.5rem 2rem;
  color: #000;
  background: var(--gold);
  border: 1px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about .card .our-btn:hover {
  color: var(--gold);
  border: 1px solid var(--gold);
}

#about .card .hvr-radial-out::before {
  background: var(--dark) !important;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}

#about .card .card-subtitle {
  position: relative;
  padding-left: 35px;
  font-weight: lighter;
}

#about .card .card-subtitle::before {
  content: "";
  position: absolute;
  width: 25px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: var(--secondray);
  height: 3px;
  border-radius: 100px;
}

#about .skills {
  background: #fff;
  padding: 0.75rem;
  margin-top: 1rem;
}

#about .skills .language .stars > i {
  color: var(--gold);
  cursor: pointer;
  margin: 0 1px;
  font-size: 0.9rem;
}

#projects {
  padding: 4rem 0 5rem 0;
  background: var(--dark);
}

#projects .title {
  color: #fff;
}

#projects .img-container {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 6px;
}

#projects .img-container .project-img {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px var(--dark-green);
          box-shadow: 0 0 10px var(--dark-green);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#projects .img-container:hover {
  cursor: pointer;
}

#projects .img-container:hover .project-img {
  -webkit-transform: scale(1.4) rotate(3deg);
          transform: scale(1.4) rotate(3deg);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#projects .owl-theme .owl-dots .owl-dot {
  outline: unset;
}

#projects .owl-theme .owl-dots .owl-dot span {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#projects .owl-theme .owl-dots .owl-dot.active span {
  width: 35px;
  background-color: var(--gold);
}

#footer {
  background: url(../img/city.jpg) no-repeat bottom fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  padding: 4rem;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */